In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Carica dataset (sostituisci con il nome reale del file)
df = pd.read_csv("../data/raw/contextual_data_.csv")

# Mostra dimensioni
print("Dimensioni:", df.shape)

# Mostra colonne
print("Colonne:", df.columns.tolist())

# Tipi di dato
print("\nTipi di dato:")
print(df.dtypes)

# Prime righe
df.head()

Dimensioni: (1802, 7)
Colonne: ['Track_ID', 'User_ID', 'Timestamp', 'Time_of_Day', 'Location', 'Activity', 'Self_Reported_Emotion']

Tipi di dato:
Track_ID                 object
User_ID                  object
Timestamp                object
Time_of_Day              object
Location                 object
Activity                 object
Self_Reported_Emotion    object
dtype: object

,Track_ID,User_ID,Timestamp,Time_of_Day,Location,Activity,Self_Reported_Emotion
0,T0001,U0000,2025-08-01 00:00:00,Night,Home,Studying,Tired
1,T0002,U0001,2025-08-01 01:00:00,Evening,Cafe,Relaxing,Calm
2,T0003,U0002,2025-08-01 02:00:00,Morning,Cafe,Reading,Happy
3,T0004,U0003,2025-08-01 03:00:00,Afternoon,Office,Studying,Calm
4,T0005,U0004,2025-08-01 04:00:00,Afternoon,Gym,Working,Calm